@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        @* Убрали верхнюю строку "About", чтобы не мешала минимализму *@
        <article class="content">
            @Body
        </article>
    </main>
</div>