.sidebar {
    background: #171717 !important; /* Темный фон боковой панели */
    border-right: 1px solid #303030;
}

main {
    background-color: #131314; /* Фон как у Gemini */
    color: #e3e3e3;
}

.content {
    padding: 0 !important; /* Контент страницы (чата) сам управляет отступами */
}