
.sidebar {
    background: rgba(23,23,23,0.95); 
    border-right: 1px solid #303030;
    width: 220px;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}
.nav-item ::deep .nav-link {
    border-radius: 24px;
    margin: 4px 8px;
    padding: 0.5rem 1rem;
    transition: background 0.3s, color 0.3s;
    color: #e3e3e3;
}

.nav-item ::deep a.active {
    background-color: #3e3f4b;
    color: white;
}

.nav-scrollable {
    overflow-y: auto;
    flex-grow: 1;
}