.top-row {
    background-color: transparent !important; /* Убираем лишние фоны [cite: 6] */
}

.nav-item ::deep .nav-link {
    border-radius: 24px; /* Закругленные кнопки как в Google */
    margin: 4px 8px;
    transition: background 0.3s;
}

.nav-item ::deep a.active {
    background-color: #3e3f4b; /* Выделение активного пункта */
    color: white;
}